.servicesContainer {
  width: 100%;
  height: 100%;
  background: #05708d;
  text-align: center;
}
.servicesContainer h1 {
  color: white;
  font-size: 3em;
  padding: 45px 0;
}

.servicesGriContainer {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 20px;
}

.servicesItem {
  background: white;
  text-align: start;
}
.servicesItem p {
  padding: 10px;
  font-size: 16px;
}

.itemImg {
  height: 240px;
  width: 100%;
}

.serviceGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* ORCAMENTO */

.orcamentoForm {
  margin: auto;
  padding: 18px;
}

.orcamentoForm form {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
}

.orcamentoForm input {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 16px;
}

.orcamentoForm textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  resize: none;
  font-family: sans-serif;
}

textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  border: 1px solid;
  outline: 0;
}

.orcamentoForm label {
  text-align: start;
  padding: 10px 0;
  font-size: 16px;
  margin: 10px 0 0 0;
}

.orcamentoForm input[type='submit'] {
  width: 100px;
  margin: 20px auto 0 auto;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background: #05708d;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}


.orcamentoForm input[type='submit']:hover {
  background: #05566d;
  transition: all .5s ease;
  transform: scale(1.05);
}

.orcamentoContact{
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.orcamentoContact p{
  font-size: 18px;
  padding-bottom: 20px;
}

.orcamentoContactIcon{
  margin: 10px;
}
.orcamentoContactBtn{
  width: 100px;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  background: #05708d;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.orcamentoContactBtn:hover {
  background: #05566d;
  transition: all .5s ease;
  transform: scale(1.05);
}


/* =================== MEDIA QUERIES (medium devices) =================== */

@media screen and (max-width: 1024px) {
  .orcamentoForm {
    width: 450px;
  }
}

/* =================== MEDIA QUERIES (small devices) =================== */

@media screen and (max-width: 600px) {
  .orcamentoForm {
    width: 100%;
  }

  .orcamentoForm input[type='submit'] {
    width: 30%;
  }
}

/* =================== MEDIA QUERIES (medium devices) =================== */

@media screen and (max-width: 1024px) {
  .servicesContainer h1 {
    font-size: 2.5em;
  }
  .serviceGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* =================== MEDIA QUERIES (small devices) =================== */

@media screen and (max-width: 600px) {
  .servicesGriContainer {
    grid-template-columns: 1fr;
  }
  .servicesContainer h1 {
    font-size: 2em;
  }
}
